<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Spring OAuth2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>
		Spring OAuth2
	</h1>
	<p>
		Hello <span th:remove="tag" sec:authentication="name">username</span>!
	<p>
	    <b><span th:text="${status}">status</span>
    	    <span th:text="${error}">error</span>
    	</b>
	    <p th:text="${message}">message</p>
	<p>
	<div class="container authenticated">
		<form th:action="@{/logout}" method="post">
			<div>
				<input type="submit" value="Logout" />
			</div>
		</form>
	</div>
	<p>
	<h1>
		Local Login
	</h1>
	<div class="container unauthenticated">
		<form th:action="@{/login}" method="post">
			<div>
				<label>Username: <input type="text" name="username" value="appuser"/></label>
			</div>
			<div>
				<label>Password: <input type="password" name="password" value="appuser"/></label>
			</div>
			<p>
			<div>
				<input type="submit" value="Username & Password" />
			</div>
		</form>
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
	</div>
	<p>
	<h1>
		Internal OAuth2 Client
	</h1>
	<p>
	<div class="container unauthenticated">
		<a href="/oauth2/authorization/internal-oauth2-login"><input type="submit" value="Internal OAuth 2.0" /></a>
	</div>
	<p>
	<h1>
		External OAuth2 Client(s)
	</h1>
	<p>
	<div class="container unauthenticated">
		<a href="/oauth2/authorization/github-login"><input type="submit" value="GitHub OAuth 2.0" /></a>
	</div>
	<p>
	<div class="container unauthenticated">
		<a href="/oauth2/authorization/google-login"><input type="submit" value="Google OIDC 1.0" /></a>
	</div>
	<p>
	<div class="container unauthenticated">
		<a href="/oauth2/authorization/facebook-login"><input type="submit" value="Facebook OAuth 2.0" /></a>
	</div>
	<p>
	<div class="container unauthenticated">
		<a href="/oauth2/authorization/okta-login"><input type="submit" value="Okta OIDC 1.0" /></a>
	</div>

</body>
</html>